---
type Props = {
  title?: string
}

const { title } = Astro.props
---

<div class="w-full h-full flex justify-center items-center px-4 py-12">
  <div class="w-full h-full bg-card dark:bg-dark-card rounded-lg py-8 px-12 bg-opacity-80 dark:bg-opacity-80">
    <h1 class="text-4xl font-bold text-center mb-8 text-stroke dark:text-dark-stroke">
      {title}
    </h1>
    <slot />
  </div>
</div>