---
import Card from '../molecules/Card.astro'
---

<Card title="About">
  <div class="flex justify-center items-center">
    <div class="w-full md:w-8/12 lg:w-6/12">
      私はインフラについて勉強しており、最近ではインフラの自動化について研究を進めています。
      インフラは世の中をより便利にするためには欠かせないものであると考えており、
      インフラの自動化によってより多くの人にインフラの恩恵を受けてもらいたいと考えています。
      そのため、様々なイベントや勉強会に参加して、学習しています。
      また、その成果をブログにまとめたり、発表したりしています。
    </div>
  </div>
</Card>