---
import { Icon } from 'astro-icon'
---

<header class="h-12 fixed w-full z-40 text-stroke dark:text-dark-stroke">
  <div class="h-full px-6 text-sm flex items-center justify-between">
    <span>
      <a href="/" class="hover:underline">ポートフォリオっぽいもの</a>
    </span>
    <span class="flex items-center">
      <a href="" class="mr-4 hover:underline">
        <Icon name="mdi:github" class="w-6 h-6" />
      </a>
      <a href="" class="hover:underline">
        <Icon name="mdi:twitter" class="w-6 h-6" />
      </a>
    </span>
  </div>
</header>