<div class="fixed top-0 left-0 z-50 flex items-center justify-center w-screen h-screen animate-scale-out-tr">
  <span class="animate-tracking-in-expand text-6xl text-secondary dark:text-dark-secondary">
    Welcome!
  </span>
</div>