---
import { Icon } from 'astro-icon'

import Card from '../molecules/Card.astro'
---

<Card title="Skill">
  <div class="grid grid-cols-2 md:grid-cols-4 gap-8">
    <div class="col-span-1">
      <div class="mb-2 flex justify-center items-center">
        <Icon name="logos:html-5" class="h-12" />
        <span class="ml-4 text-lg md:text-2xl md:text-2xl">
          HTML5
        </span>
      </div>
      <hr class="border-2 border-emphasis w-full mx-auto" />
    </div>
    <div class="col-span-1">
      <div class="mb-2 flex justify-center items-center">
        <Icon name="logos:html-5" class="h-12" />
        <span class="ml-4 text-lg md:text-2xl md:text-2xl">
          HTML5
        </span>
      </div>
      <hr class="border-2 border-emphasis w-full mx-auto" />
    </div>
    <div class="col-span-1">
      <div class="mb-2 flex justify-center items-center">
        <Icon name="logos:html-5" class="h-12" />
        <span class="ml-4 text-lg md:text-2xl md:text-2xl">
          HTML5
        </span>
      </div>
      <hr class="border-2 border-emphasis w-full mx-auto" />
    </div>
    <div class="col-span-1">
      <div class="mb-2 flex justify-center items-center">
        <Icon name="logos:html-5" class="h-12" />
        <span class="ml-4 text-lg md:text-2xl md:text-2xl">
          HTML5
        </span>
      </div>
      <hr class="border-2 border-emphasis w-full mx-auto" />
    </div>
    <div class="col-span-1">
      <div class="mb-2 flex justify-center items-center">
        <Icon name="logos:html-5" class="h-12" />
        <span class="ml-4 text-lg md:text-2xl md:text-2xl">
          HTML5
        </span>
      </div>
      <hr class="border-2 border-emphasis w-full mx-auto" />
    </div>
    <div class="col-span-1">
      <div class="mb-2 flex justify-center items-center">
        <Icon name="logos:html-5" class="h-12" />
        <span class="ml-4 text-lg md:text-2xl md:text-2xl">
          HTML5
        </span>
      </div>
      <hr class="border-2 border-emphasis w-full mx-auto" />
    </div>
  </div>
</Card>