---
import '@splidejs/splide/css/skyblue';

import Card from '../molecules/Card.astro'
---

<script>
	import Splide from '@splidejs/splide';

	new Splide('.splide', {
		perPage : 3,
		rewind : true,
		autoplay: true,
		interval: 5000,
		pauseOnHover: true,
		gap: '0.8rem',
		breakpoints: {
			1024: {
				perPage: 2,
			},
			640: {
        arrows: false,
				perPage: 1,
			}
		}
	}).mount();
</script>


<Card title="Work">
  <section class="splide" aria-label="works">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
          <img src="/images/work/poipla.png" alt="Astro" class="border border-2 rounded aspect-video object-cover hover:animate-jello-horizontal cursor-pointer" />
        </li>
        <li class="splide__slide">
          <img src="/images/work/piyomiru.png" alt="Astro" class="border border-2 rounded aspect-video object-cover hover:animate-jello-horizontal cursor-pointer" />
        </li>
        <li class="splide__slide">
          <img src="/images/work/remote_for_slides.png" alt="Astro" class="border border-2 rounded aspect-video object-cover hover:animate-jello-horizontal cursor-pointer" />
        </li>
        <li class="splide__slide">
          <img src="/images/work/cocoroiki.png" alt="Astro" class="border border-2 rounded aspect-video object-cover hover:animate-jello-horizontal cursor-pointer" />
        </li>
      </ul>
    </div>
  </section>
</Card>