---
import Background from '../components/atoms/Background.astro'
import { Icon } from 'astro-icon'

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="relative bg-main dark:bg-dark-main">
		<header class="h-12 fixed w-full z-40">
			<div class="h-full px-6 text-sm flex items-center justify-between">
				<span>
					<a href="/" class="hover:underline">ポートフォリオっぽいもの</a>
				</span>
				<span class="flex items-center">
					<a href="" class="mr-4 hover:underline">
						<Icon name="mdi:github" class="w-6 h-6" />
					</a>
					<a href="" class="hover:underline">
						<Icon name="mdi:twitter" class="w-6 h-6" />
					</a>
				</span>
			</div>
		</header>

		<div class="container mx-auto relative text-secondary dark:text-dark-secondary border-stroke dark:border-dark-stroke ring-white ring-stroke dark:ring-dark-stroke">
			<div class="absolute inset-0 z-20">
				<!-- <Header /> -->
				<slot />
				<!-- <Footer /> -->
			</div>
			<div class="absolute inset-0 z-10">
				<Background />
			</div>
			<div class="fixed top-0 left-0 z-50 flex items-center justify-center w-screen h-screen bg-main dark:bg-dark-main animate-scale-out-tr">
				<span class="animate-tracking-in-expand text-6xl text-secondary dark:text-dark-secondary">
					Welcome!
				</span>
			</div>
		</div>
	</body>
</html>
<style is:global>
	html {
		font-family: system-ui, sans-serif;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
