---
import Layout from "./Layout.astro";

import Background from '../components/atoms/Background.astro'
import Header from '../components/organisms/Header.astro'
import Footer from '../components/organisms/Footer.astro'
import LoadingAnimation from '../components/organisms/LoadingAnimation.astro'
---

<Layout title="ポートフォリオっぽいもの">
  <div class="animate-fade-in-top">
    <Header />
  </div>
  <div class="container mx-auto">
    <div class="absolute inset-0 z-20 relative">
      <slot />
      <Footer />
    </div>
    <div class="absolute inset-0 z-10">
      <Background />
    </div>
    <LoadingAnimation />
  </div>
</Layout>