---
import { formatDate } from "../utils/formatDate";
import Layout from "./Layout.astro";
import type { CollectionEntry } from "astro:content";
import type { MarkdownLayoutProps } from "astro";

import Footer from '../components/organisms/Footer.astro'
import Card from '../components/molecules/Card.astro';
import Images from '../components/molecules/Images.astro';

const { frontmatter, headings } = Astro.props as MarkdownLayoutProps<
  CollectionEntry<"work">["data"]
>;
const date = formatDate(new Date(frontmatter.date));
const { title, images } = frontmatter;
---



<Layout title={title}>
  <div class="h-screen grid grid-cols-12 gap-4">
    <div class="blog col-span-12 md:col-span-6 md:overflow-y-scroll">
      <Card>
        <div class="flex justify-between items-center">
          <a href="/works" class="text-highlight">← Works</a>
          <h1>{title}</h1>
          <p class="text-sm text-gray-500">{date}</p>
        </div>
        <hr class="my-4" />
        <slot />
      </Card>
    </div>
    <div class="col-span-12 md:col-span-6 order-first md:order-last my-auto">
      <Images images={images} />
    </div>
  </div>
  <!-- <Footer /> -->
</Layout>

<style is:global>
  .blog {
    font-size: 15px;
    @apply sm:text-base;
  }
  .blog h1,
  .blog h2,
  .blog h3,
  .blog h4 {
    @apply font-semibold text-stroke mt-10 mb-1 dark:text-dark-stroke;
  }
  .blog h1 {
    @apply text-2xl;
  }
  .blog h2 {
    @apply text-xl;
  }
  .blog h3 {
    @apply text-lg;
  }
  .blog h4 {
    @apply text-base;
  }
  .blog code:not(pre > *) {
    @apply bg-main mx-1 px-1 rounded-sm dark:bg-dark-main;
  }
  .blog ul {
    @apply pl-4 my-2 list-disc;
  }
  .blog li > ul {
    @apply my-0;
  }
  .blog ol {
    @apply pl-4 my-2 list-decimal list-decimal;
  }
  .blog li > ol {
    @apply my-0;
  }
  .blog p {
    @apply my-4;
  }
  .blog pre {
    @apply p-4 text-sm rounded-lg;
  }
  .blog a {
    @apply text-highlight;
  }
  .blog hr {
    @apply my-4;
  }
  .blog img {
    @apply mx-auto;
  }
  .blog strong {
    @apply font-semibold text-tertiary;
  }
  .blog blockquote {
    @apply px-4 border-l-2;
  }
  .blog table {
    @apply border-collapse table-auto w-full text-sm;
  }
  .blog th {
    @apply border-b p-4 pl-8 pt-0 text-stroke text-left dark:text-dark-stroke;
  }
  .blog td {
    @apply border-b p-4 pl-8;
  }

  .blog iframe {
    max-width: 100%;
    margin: auto;
  }
</style>